<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theatre.name %>
</p>

<p>
  <strong>Seat limit:</strong>
  <%= @theatre.seat_limit %>
</p>

<%= link_to 'Edit', edit_theatre_path(@theatre) %> |
<%= link_to 'Back', theatres_path %>
