<%= form_tag('/bookings') do %>
  <div class="field">
    <%= label_tag :Movie %><br>
    <%= select_tag(:movie, options_from_collection_for_select(@movies, 'id', 'name'), {:prompt => 'Select Movie'}) %>
  </div>

  <div class="field theatre-details"></div>

  <div class="field show-details"></div>

  <div class="field show-fees"></div>

   <%= hidden_field_tag "user_id", current_user.id, {:name => "booking[user_id]"} %>
    
  <div class="actions">
    <%= submit_tag 'Save', {:class => 'save-booking'} %>
  </div>
<% end %>