<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @booking.show.movie.name %>
</p>

<p>
  <strong>Show Time:</strong>
  <%= @booking.show.show_time %>
</p>

<p>
  <strong>Theatre:</strong>
  <%= @booking.show.theatre.name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
