<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :show_time %><br>
    <%= f.datetime_select :show_time %>
  </div>
  <div class="field">
    <%= f.label :show_fee %><br>
    <%= f.number_field :show_fee %>
  </div>
  <div class="field">
    <%= f.label :movie%><br>
    <%= f.select(:movie_id, @movies.collect {|movie| [movie.name, movie.id]}, :prompt => 'Select Movie') %>
  </div>
  <div class="field">
    <%= f.label :theatre_id %><br>
    <%= f.select(:theatre_id, @theatres.collect {|theatre| [theatre.name, theatre.id]}, :prompt => 'Select Theatre') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
