<p id="notice"><%= notice %></p>

<p>
  <strong>Show time:</strong>
  <%= @show.show_time %>
</p>

<p>
  <strong>Show fee:</strong>
  <%= @show.show_fee %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @show.movie.name %>
</p>

<p>
  <strong>Theatre:</strong>
  <%= @show.theatre.name %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
